section.about.m-bottom
   .about__container
      .about__inner
         ul.about__list
            li.about__item
               h2.about__title.title Все необходимые <br> документы в одном месте
               p.about__text Оставьте бумаги в прошлом, наш электронный документооборот позволяет подписывать документы онлайн и ускоряет процесс бюрократии в несколько раз.
            li.about__item
               h2.about__title.title Работая с нами — ваш груз бесплатно застрахован
               p.about__text Не нужно больше переживать за сохранность груза, мы бесплатно застрахуем Ваш груз до 1 млн рублей. 
            li.about__item
               h2.about__title.title Кубафура — безопасность и надежность               