section(data-move-effects="upAbout, downAbout, true").additional.m-bottom
   .additional__container 
      h2.additional__title.title С нами вы забудете про табуретки.
      .additional__inner 
         .additional__img 
            picture 
               source(type="webp/image" srcset="@img/index-2/bg-additional.webp")
               img(src="@img/index-2/bg-additional.jpg", alt="Фоновое изображение" width="680" height="428")
         .additional__content 
            a.additional__sign.button(href="#") Зарегистрироваться 
            p.additional__text Хватит с Вас надоедливых звонков. Задержек    с выплатами и занижение цены на рынке. Работа на прямую с заказчиками, Вы получаете ту сумму, которую Вы заслуживаете.