section.car
   .car__container 
      .car__inner 
         .car__header
            h2.car__title.title Отслеживайте машину прямо в приложении.
            p.car__text Все машины оснащены GPS-навигаторами.
         .car__img 
            img(src="@img/car.svg", alt="Машина" width="1253" height="600").img-contain