section(data-move-effects="animeRightUp, animeRightDown, true").cooperation.m-bottom 
   .cooperation__container 
      h2.cooperation__title.title Начать сотрудничество
      ul.cooperation__list 
         li.cooperation__item
            .cooperation__inner 
               h3.cooperation__subtitle Зарегистрируйтесь
               p.cooperation__text Сообщите свои данные и по какой форме хотите сотрудничать: ИП, самозанятый, юридическое лицо. 
         li.cooperation__item
            .cooperation__inner
               h3.cooperation__subtitle Загрузите документы
               p.cooperation__text Расскажите, какой у вас автомобиль, чтобы мы могли рассчитывать грузы для вас. Загрузите документы на автомобиь.
         li.cooperation__item
            .cooperation__inner
               h3.cooperation__subtitle Начните принимать заказы!
               p.cooperation__text Одобряем заявки на сотрудничество в течение 24 часов.Одобряем заявки на сотрудничество в течение 24 часов.
      a(href="#").cooperation__sign.button зарегистрироваться
         