section(data-move-effects="animeRightUp, animeRightDown, true").d-about
   .d-about__container 
      h2.d-about__title.title Всё просто — получили заказ, погрузили и получили <span>90% аванса.</span> Выплата будет у Вас, до момента доставки заказа.
      p.d-about__text Оставшиеся <span>10%</span> — получаете сразу после разгрузки