section(data-move-effects="animeRightUp, animeRightDown, true").d-descr.m-bottom
   .d-descr__container
      .d-descr__inner 
         .d-descr__item.d-descr__item--big 
            h2.d-descr__title.title Электронный документооборот и электронная цифровая подпись
            p.d-descr__text ЭДО и ЭЦП включены в платформу. Мы создаём полностью электронный документооборот. Не нужно больше каждый раз заполнять кучу договоров и бумаг. Вы заполняете их только один раз.
         .d-descr__item.d-descr__item--middle-1
            h2.d-descr__title.title Получайте кэшбек
            p.d-descr__text выводите его реальными деньгами и тратьте на что пожелаете.
         .d-descr__item.d-descr__item--middle-2 
            h2.d-descr__title.title Бесплатная платформа
            p.d-descr__text Разве нужно платить, чтобы получить заказ?
         .d-descr__item.d-descr__item--big-2
            h2.d-descr__title.title Сталкивались с ситуацией, что можете проехать тысячи километров полупустыми? 
            p.d-descr__text Благодаря нашему подбору грузов и отслеживанию машины онлайн, Вы можете получить догруз прямо по пути следования основного заказа.
