section.preview.d-top
   video.preview__video(class="preview__video" src="./video/video.mp4" playsinline autoplay muted="muted" preload="auto" loop) 
   .preview__container
      h1.d-top__title <span>водителям</span> <strong>Кубафура</strong>
      .preview__wrapper
         a.preview__link(href="#").button.button--fill Продолжить 
      .d-top__text Мы разработали сервис, который поможет всем водителям этой нелёгкой профессии сделать грузоперевозки удобнее и выгоднее.