section.slogan.slogan-2
   .slogan__container 
      h2.slogan__title.title Сделайте свою работу проще и безопаснее — оставьте проблемы логистики нам.
      a(href="#").slogan__sign.button зарегистрироваться