section.descr.m-bottom
   .descr__container 
      .descr__inner 
         .descr__item.descr__item--big
            h2.descr__title.title Нет времени самим заниматься грузоперевозками? 
            p.descr__text Зарегистрируйте один аккаунт и <span>делегируйте ограниченные права</span> на него, любому сотруднику. Например, добавьте вашего менеджера и он сможет контролировать все процессы на площадке, но только те, что вы захотите .
         .descr__item.descr__item--medium 
            h2.descr__title.title CRM-система <br> внутри платформы
            p.descr__text Часто пользуетесь грузоперевозками? Как же не теряться в огромном количестве информации и проследить каждую отправку? Контролируйте ВСЁ через свой аккаунт, благодаря нашей простой CRM системе.
         .descr__item.descr__item--small
