section.d-preview.m-bottom
   .d-preview__container 
      h2.d-preview__title.title Как получать заказы? 
      p.d-preview__descr Не нужно ждать звонка, все заказы будут приходить в приложение. 
      .d-preview__inner 
         .d-preview__images 
            .d-preview__img 
               picture 
                  source(type="image/webp" srcset="@img/index-2/preview-1.webp")
                  img(src="@img/index-2/preview-1.png", alt="Превью изображение")
            .d-preview__img 
               picture 
                  source(type="image/webp" srcset="@img/index-2/preview-2.webp")
                  img(src="@img/index-2/preview-2.png", alt="Превью изображение")
            .d-preview__img 
               picture 
                  source(type="image/webp" srcset="@img/index-2/preview-3.webp")
                  img(src="@img/index-2/preview-3.png", alt="Превью изображение")
         .d-preview__lines
            .d-preview__item 
               span.d-preview__num 1
               p.d-preview__text Оцени <span> груз, дальность поездки, сумму оплаты.</span> 
            .d-preview__item 
               span.d-preview__num 2
               p.d-preview__text Приняли — поехали
         