header.header
   .header__container.d-flex
      a(href="#").header__logo.logo
         img(src="@img/logo.svg", alt="Логотип" width="74" height="74").img-contain
      .header__sign.sign
         a.sign__link(href="#") Личный кабинет 
