section.load.m-bottom
   .load__container 
      h2.load__title.title Скачайте приложение
      .load__inner 
         .load__img.load__img-1
            picture 
               source(type="image/webp" srcset="@img/load/load-1.webp")
               img(src="@img/load/load-1.png" width="196" height="423" alt="Изображение приложения")
         .load__img.load__img-2
            picture 
               source(type="image/webp" srcset="@img/load/load-2.webp")
               img(src="@img/load/load-2.png" width="212" height="458" alt="Изображение приложения")
         .load__img.load__img-3
            picture 
               source(type="image/webp" srcset="@img/load/load-3.webp")
               img(src="@img/load/load-3.png" width="296" height="596" alt="Изображение приложения")
         .load__img.load__img-4
            picture 
               source(type="image/webp" srcset="@img/load/load-4.webp")
               img(src="@img/load/load-4.png" width="212" height="458" alt="Изображение приложения")
         .load__img.load__img-5
            picture 
               source(type="image/webp" srcset="@img/load/load-5.webp")
               img(src="@img/load/load-5.png" width="196" height="423" alt="Изображение приложения")
      
      .load__buttons 
         a.load__app(href="#") Скачать приложение с App Store
         a.load__sign.button(href="#") зарегистрироваться
         a.load__google(href="#") Google Play 