section.preview 
   video.preview__video(class="preview__video" src="./video/video.mp4" playsinline autoplay muted="muted" preload="auto" loop) 
   .preview__container
      h1.preview__title Кубафура
      .preview__wrapper
         p.preview__descr новая уникальная платформа для поиска грузоперевозчиков
         a.preview__link(href="#").button зарегистрироваться 