section.slogan 
   .slogan__container 
      h2.slogan__title.title Наша задача, чтобы оформить грузоперевозку стало так же просто и выгодно, как вызвать такси.
      a(href="#").slogan__sign.button зарегистрироваться