section.time.m-bottom
   .time__container
      .time__inner
         .time__wrapper.time__wrapper-1
            h2.time__title.title Минимум усилий и времени
            p.time__text Пройдите регистрацию, укажите габариты груза, а мы подберём Вам машину. Останется только дождаться доставки. 
         .time__wrapper.time__wrapper-2
            .time__header 
               h2.time__title.title Доставка груза в заданные сроки
               p.time__text Все устали уделять этому процессу часы и дни. текст текстмтпто.
            .time__clock
               img(src="@img/clock.svg", alt="Часы" width="246" height="246")

