section.time.m-bottom
   .time__container
      .time__wrapper
         .time__header 
            h2.time__title.title Доставка груза в заданные сроки
            p.time__text Все устали уделять этому процессу часы и дни. текст текстмтпто.
         .time__clock
            img(src="@img/clock.svg", alt="Часы" width="246" height="246")

