//Screen's width
$mobileW: 320px;
$tableW: 768px;
$desktopW: 1440px;
$viewportD: 1480px;
$pad: 20px;

// Base variable
$accent: #1f1f1f;
$textcolor: #fff;
$lineheight: 1.2;
$fontsize: 14px;
$userfont: 'NT somic', sans-serif;
$fontweight: 400;
$anime-trans: 1s cubic-bezier(.06,.97,.09,.97);